<br>
<br>
<br>
<br>
<br>

<div class="row">
  <div class="col-md-9">
    <div class="lessonHeaderContainer" ng-show="title in controller.lessonID">
      <h2 class="lessonTitle">{{title.lessonID}}</h2>
    </div>
    <div class="questions">
      <ul class="questionsList" ng-repeat="question in controller.questions">
        <li class="question">{{question.qTitle}}</li>
        <li class="question">{{question.qContent}}</li>
        <li class="question">{{question.qDate}}</li>
        <li class="question">{{question.userID}}</li>
        <button class="editQuestionBtn btn-sm" ng-click="controller.edit(question)"></button>
        <button class="deleteQuestionBtn btn-sm" ng-click="controller.delete(question._id)"></button>
        <!-- <li class="question">Question 2</li>
        <li class="question">Question 3</li>
        <li class="question">Question 4</li>
        <li class="question">Question 5</li>
        <li class="question">Question 1</li>
        <li class="question">Question 2</li>
        <li class="question">Question 3</li>
        <li class="question">Question 4</li>
        <li class="question">Question 5</li> --> -->
      </ul>
    </div>
  </div>
  <div class="col-md-3">
    <div class="askQuestion">
      <form>
        <input type="text" class="newQuestionTitle" placeholder="Question Title" ng-model="controller.newQuestion.qTitle">
        <textarea type="text" class="newQuestionBody" placeholder="Question Body" rows="10" cols="100" ng-model="controller.newQuestion.qContent"></textarea>
        <button type="button" class="askBtn" ng-click="controller.add(question)">Ask</button>
      </form>
    </div>
  </div>
</div>
